<div class="signup">
    <div class="signup-cont">
        <form id="signup-form" ng-submit="main.signupUser()" novalidate>
            <div class="signup-sec">
                <div class="input-control modern">
                    <!-- <input type="text" name="username"> -->
					<input type="text" name="username" ng-model="main.userData.username" required>
                    <i class="fa fa-user"></i>
                    <span class="label">Name</span>
                </div>
                <div class="input-control modern">
                    <!-- <input type="email" name="email"> -->
					<input type="text" name="email" ng-model="main.userData.email" required>
                    <i class="fa fa-user"></i>
                    <span class="label">Email</span>
                </div>
                <div class="input-control modern">
					<input type="password" id="password" name="password" ng-model="main.userData.password" required>
                    <!-- <input type="password" name="password"> -->
                    <i class="fa fa-lock"></i>
                    <span class="label">Password</span>
                </div>
                <div class="input-control modern">
                    <input type="password" name="pwd" required>
                    <i class="fa fa-lock"></i>
                    <span class="label">Re Type Password</span>
                </div>
            
                <div class="btn-group">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    jq(function () {
        inputBlur();
        formValidate();
    });
</script>